@use "../../abstracts" as *;
@use "../../base/titles" as *;
@use "../../utilities/mixins/" as *;

.card-thread-of-life {
  color: $black;
  background-color: $white;
  width: 750px;
  max-width: 750px;
  padding: 1.7rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  @include resp-custom-max($responsiveThreadOfLife) {
    width: 100%;
  }
  &__top {
    width: 100%;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px $black;
    @include resp-custom-max($responsiveThreadOfLife) {
      flex-direction: column;
      align-items: start;
      gap: 1rem;
    }
    img {
      width: 100%;
      max-width: 150px;
      height: 100%;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      @include resp-custom-max($responsiveThreadOfLife) {
        max-width: 90px;
      }
    }
    h3 {
      width: 100%;
      max-width: 500px;
      @extend %heading-4;
    }
  }
  &__description {
    @include mobile {
      &.collapsed {
        max-height: 250px;
        overflow: hidden;
      }
    }
  }
  &__toggle {
    display: none;
    @extend %paragraph;
    color: $black;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    @include mobile {
      display: block;
    }
  }
  &__dates {
    margin-top: 1.5rem;
    min-width: fit-content;
    @extend %date;
    padding-left: 0.7rem;
    border-left: solid 3px $purple;
    border-radius: 0.1rem;
  }
}
