@use "../../abstracts" as *;
@use "../../base/titles" as *;
@use "../../utilities/mixins/" as *;

.card-thread-of-life {
  color: $black;
  background-color: $white;
  width: 500px;
  max-width: 500px;
  height: 650px;
  max-height: 650px;
  border-radius: 0.5rem;
  @include mobile {
    width: 100%;
    max-width: 100%;
    height: 100dvw;
    max-height: auto;
  }
  img {
    width: 100%;
    height: 274px;
    max-height: 374px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    @include mobile {
      height: 50dvw;
      max-height: 100%;
    }
  }
  &__bottom {
    padding: 1.7rem 1.5rem;
    div {
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      @include mobile {
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
      }
      h3 {
        @extend %heading-4;
      }
      p {
        margin-top: 0.5rem;
        min-width: fit-content;
        @extend %date;
      }
    }
    &__description {
      height: 250px;
      max-height: 250px;
      display: -webkit-box;
      text-overflow: clip;
      -webkit-line-clamp: 9;
      -webkit-box-orient: vertical;
      overflow-y: hidden;
    }
  }
}
