@use "../../abstracts" as *;
@use "../../base/titles" as *;
@use "../../utilities/mixins/" as *;

.thread-of-life {
  position: relative;
  height: 300dvh;
  &__slider {
    position: sticky;
    top: 0;
    height: 100dvh;
    display: flex;
    align-items: center;
    overflow: hidden;
    &__content {
      margin-left: calc(50vw - 605px);
      display: flex;
      align-items: center;
      @include resp-custom-max(1230px) {
        margin-left: 0;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
