$font-folder: "/public/fonts/";

// Import font with "@include font-face()" or @import url()
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

// Font family
$ff-nunito: "Nunito", serif;
$ff-main: "JetBrains Mono", monospace;
