// Text sizes desktop
$fs-xl-d: 72px;
$fs-l-d: 36px;
$fs-m-d: 24px;
$fs-s-d: 18px;
$fs-xs-d: 14px;
$fs-text-d: 16px;

// Text sizes mobile
$fs-xl-m: 36px;
$fs-l-m: 24px;
$fs-m-m: 18px;
$fs-s-m: 16px;
$fs-xs-m: 14px;
$fs-text-m: 14px;

// Line heights desktop
$lh-xl-d: 84px;
$lh-l-d: 48px;
$lh-m-d: 32px;
$lh-s-d: 24px;
$lh-xs-d: 20px;
$lh-text-d: 24px;

// Line heights mobile
$lh-xl-m: 42px;
$lh-l-m: 28px;
$lh-m-m: 24px;
$lh-s-m: 20px;
$lh-xs-m: 18px;
$lh-text-m: 20px;
