// Text sizes desktop
$fs-xl-d: 86px;
$fs-l-d: 40px;
$fs-m-d: 28px;
$fs-s-d: 18px;
$fs-xs-d: 15px;
$fs-text-d: 15px;

// Text sizes mobile
$fs-xl-m: 42px;
$fs-l-m: 20px;
$fs-m-m: 16px;
$fs-s-m: 14px;
$fs-xs-m: 14px;
$fs-text-m: 14px;

// Line heights desktop
$lh-xl-d: 78px;
$lh-l-d: normal;
$lh-m-d: 28px;
$lh-s-d: 20px;
$lh-xs-d: 16px;
$lh-text-d: 16px;

// Line heights mobile
$lh-xl-m: 38px;
$lh-l-m: normal;
$lh-m-m: 16px;
$lh-s-m: 15px;
$lh-xs-m: 15px;
$lh-text-m: 15px;