// Font sizes desktop
$fs-xl-d: 4rem;
$fs-l-d: 2.8rem;
$fs-m-d: 1.9rem;
$fs-s-d: 1.5rem;
$fs-text-d: 1rem;
$fs-date-d: 1rem;

// Line heights desktop
$lh-xl-d: 4.5rem;
$lh-l-d: 3rem;
$lh-m-d: 2.5rem;
$lh-s-d: 1.7rem;
$lh-text-d: 1.7rem;
$lh-date-d: 1.3rem;

// Font sizes mobile
$fs-xl-m: 2.4rem;
$fs-l-m: 1.5rem;
$fs-m-m: 1.2rem;
$fs-s-m: 1rem;
$fs-text-m: 0.8rem;
$fs-date-m: 0.8rem;

// Line heights mobile
$lh-xl-m: 3rem;
$lh-l-m: 2rem;
$lh-m-m: 1.7rem;
$lh-s-m: 1.3rem;
$lh-text-m: 1.4rem;
$lh-date-m: 1rem;
