@use "../../abstracts" as *;
@use "../../base/titles" as *;
@use "../../utilities/mixins/" as *;

.section-projects-by-year {
  width: 100%;
  &__top {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__arrows {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      button {
        font-size: 1.8rem;
      }
    }
  }
  &__projects {
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    &__items {
      display: flex;
      gap: 2.5rem;
    }
  }
}
