@use "../../abstracts" as *;
@use "../../base/titles" as *;
@use "../../utilities/mixins/" as *;

.tag {
  @extend %heading-6;
  width: fit-content;
  height: fit-content;
  background-color: $purple;
  padding: 0.4rem 0.8rem;
  border-radius: 5rem;
}
