@use "../abstracts/" as *;

h1 {
  font-size: $font-xl-d;
  font-family: $font-nunito;
  font-weight: bold;
}

h2 {
  font-size: $font-l-d;
}

h3 {
  font-size: $font-m-d;
}

p {
  font-size: $font-s-d;
}
