@use "../abstracts/" as *;

.menu-burger {
  z-index: 100;
  overflow-y: auto;
  position: fixed;
  transform: translateY(-100vh);
  width: 100%;
  background-color: $p;
  height: 100vh;
  padding: 0 10vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: $main-transition;
  opacity: 0;
  ul {
    margin-top: 9rem;
    @extend %text-l;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    li {
      font-weight: bold;
    }
    ul {
      margin-top: 0.5rem;
      margin-left: 4.6rem;
      @extend %text-m;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      li {
        font-weight: normal;
      }
    }
  }
  img {
    width: clamp(12rem, 19.6rem, 19.6vw);
  }
}

.open {
  transform: translateY(0);
  top: 0;
  opacity: 1;
}

@media screen and (max-width: $mobile) {
  .menu-burger {
    padding: 7.3rem 0 0 5%;
    flex-direction: column;
    justify-content: start;
    ul {
      margin-top: 0;
      gap: 2.5rem;
      ul {
        margin-left: 3.6rem;
      }
    }
    img {
      margin: auto 0;
    }
  }
}
