@use "../abstracts/" as *;

.project a {
  width: 50%;
  img {
    width: 80%;
    border-radius: $border-r-m;
  }
  ul {
    margin: 0.8rem 0;
    display: flex;
    gap: 0.5rem;
    li {
      width: fit-content;
      background-color: $p;
      padding: 0.4rem 0.7rem;
      border-radius: $border-r-m;
    }
  }
  h3 {
    @extend %text-m;
    &::after {
      content: url("../../public/icons/link.svg");
      margin-left: 0.5rem;
    }
  }
  &:hover h3 {
    text-decoration: underline;
  }
}
