@use "../abstracts/" as *;

@mixin btn($bg) {
  color: $w;
  @extend %text-s;
  width: fit-content;
  background-color: $bg;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    width: 2rem;
  }
}

.btn- {
  &gold {
    @include btn($g);
  }
}
