@use "../../abstracts/" as *;
@use "../../utilities/mixins/" as *;

:root {
  --size: 4rem;
  --position: 1.2rem;
}

@include mobile {
  :root {
    --size: 3rem;
    --position: 0.7rem;
  }
}

.btn-menu-burger {
  position: relative;
  height: var(--size);
  width: var(--size);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: $white;
    transition: $main-transition;
  }

  &::before {
    top: var(--position);
  }

  &::after {
    bottom: var(--position);
  }

  &:active:not(.open) {
    &::before {
      transform: rotate(-5deg);
    }

    &::after {
      transform: rotate(5deg);
    }
  }

  &:active.open {
    &::before {
      transform: rotate(-40deg) translate(-0.4rem, 0.4rem);
    }

    &::after {
      transform: rotate(40deg) translate(-0.4rem, -0.4rem);
    }
  }
}

.open {
  &::before {
    transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
  }

  &::after {
    transform: rotate(45deg) translate(-0.5rem, -0.5rem);
  }
}
