@use "../abstracts/" as *;
@use "../base/" as *;

@mixin button($bgc: $gold, $c: $white) {
  color: $c;
  @extend %paragraph;
  width: fit-content;
  height: fit-content;
  background-color: $bgc;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  display: block;
}

.btn {
  &-gold {
    @include button;
  }
  &-purple {
    @include button($purple);
  }
}
