@use "../abstracts/" as *;
@use "../utilities/mixins/" as *;
@use "../base/titles" as *;

.email {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  @include tablet {
    gap: 0.7rem;
  }
  img {
    width: 1.7rem;
    @include tablet {
      width: 1.4rem;
    }
  }
}
