@use "../abstracts/" as *;
@use "../base/" as *;

@mixin link($isBig: false, $tdh: underline, $td: none, $color: $white) {
  @if ($isBig) {
    @extend %heading-2;
  } @else {
    @extend %heading-3;
  }
  color: $color;
  text-decoration: $td;
  &:hover {
    text-decoration: $tdh;
  }
}

.link,
a {
  @include link();
}
.big-link {
  @include link($isBig: true);
}
