@use "../abstracts/" as *;
@use "../utilities/mixins/" as *;
@use "../base/titles" as *;

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  &__card {
    width: 259px;
    height: 250px;
    background-color: $purple;
    padding: 1.2rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__items {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
    }
    h3 {
      @extend %heading-4;
    }
  }
}
