@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

// font sizing
$font-xl-d: 5.375rem; // 86px
$font-l-d: 2.5rem; // 40px
$font-m-d: 1.75rem; // 28px
$font-s-d: 1.125rem; // 18px
// $font-xs-d: rem; // px

$font-xl-m: 2.625rem; // 42px
$font-l-m: 1.25rem; // 20px
$font-m-m: 1rem; // 16px
$font-s-m: 0.75rem; // 12px
// $font-xs-m: rem; // px

// font family
$main-font: "JetBrains Mono", monospace;
$font-nunito: "Nunito", serif;

// line-height
$lh-xl-d: 4.8rem; // 78px
$lh-l-d: 3.3rem; // 52.8px
$lh-m-d: 1.7rem; // 28px
$lh-s-d: 1.1rem; // 18px

$lh-xl-m: 2.3rem; // 38px
$lh-l-m: 1.6rem; // 26.4px
$lh-m-m: 1rem; // 16px
$lh-s-m: 0.7rem; // 12.5px
